@import "compass/css3"

body
  background-image: url('images/BG.jpg')
  background-attachment: fixed
  font:
    family: Georgia, Times, serif
    size: 20pt
  line-height: 1.8em
  header
    //background: rgba( 255,255,255, 0.8)
    padding-top: 20px
    ul#links
      margin: 0
      margin-left: 70%
      display: inline
      li
        display: inline
        margin: 0
        img
          width: 32px
          height: auto

    h1#site_title
      text-align: center
      text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black
      color: white
      font:
        size: 100pt
  section#list
    background-color: white
    ul.post-list
      margin: 0
