<h1 class="title" id="site_title">Rodrigo Navarro</h1>
<ul class="post-list">
  <% posts.each do |post| %>
    <li>
      <span class="date"><%= post.date %></span>
      <a href="<%= post.path %>"><%= post.title %></a>
    </li>
  <% end %>
</ul>
