<ul class="post-list">
  <% posts.each do |post| %>
    <li>
    <a class="post-title" href="<%= post.path %>"><p><strong><%= post.title %></strong></p></a>
    <p id="resume">
      <%= introduction post %>
    </p>
    <span class="date"><%= post.date %></span>
    </li>
  <% end %>
</ul>

