<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Blog.Ceol.in</title>
    <link rel="alternate" type="application/rss+xml" title="Blog.Ceol.in - Feed" href="http://feeds.feedburner.com/GuiCeolin">
    <link rel="stylesheet" type="text/css" href="/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/railscasts2.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script type="text/javascript" src="/jquery-1.7.2.min.js"></script>
  </head>
  <body>
    <header>
      <h1 class="title" id="site_title">GuiCeolin</h1>
    </header>
    <section id="nav-bar">
    <ul id="links">
      <li>
      <a href="mailto:gui@ceol.in" target="_blank"><img src="/images/gmail.png" /></a>
      </li>
      <li>
      <a href="http://github.com/guiceolin" target="_blank"><img src="/images/github.png" /></a>
      </li>
      <li>
      <a href="http://twitter.com/guiceolin" target="_blank"><img src="/images/twitter.png" /></a>
      </li>
      <li>
      <a href="http://feeds.feedburner.com/GuiCeolin" target="_blank"><img src="/images/rss.png" /></a>
      </li>
    </ul>
    </section>
    <section id="content">
      <%= yield %>
    </section>
  </html>
