<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Blog.Ceol.in</title>
    <link rel="alternate" type="application/rss+xml" title="Blog.Ceol.in - Feed" href="http://feeds.feedburner.com/GuiCeolin">
    <link rel="stylesheet" type="text/css" href="/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/github.css" />
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/bootstrap-responsive.min.css" />

    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script type="text/javascript" src="/jquery-1.7.2.min.js"></script>
  </head>
  <body>
    <section id='title'>
      <header>
        <h1 class="title" id="blog-title">Ceol.in</h1>
      </header>
      <nav>
        <ul id="links">
          <li>
            <% if get_locale == 'en' %>
              <a href="/language/pt"><img src='/images/br.png' alt='Portugues'></a>
            <% else %>
              <a href="/language/en"><img src='/images/us.png' alt='English'></a>
            <% end %>
          </li>
          <li>
            <a href="mailto:gui@ceol.in" target="_blank"><img src="/images/gmail.png" alt='Email' /></a>
          </li>
          <li>
          <a href="http://github.com/guiceolin" target="_blank"><img src="/images/github.png" alt='Github' /></a>
          </li>
          <li>
          <a href="http://twitter.com/guiceolin" target="_blank"><img src="/images/twitter.png" alt='Twitter' /></a>
          </li>
          <li>
          <a href="http://feeds.feedburner.com/GuiCeolin" target="_blank"><img src="/images/rss.png" alt='RSS'/></a>
          </li>
        </ul>
      </nav>
    </section>
    <section id="content">
      <%= yield %>
    </section>
  </html>
