<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Rodrigo Navarro</title>
    <link rel="alternate" type="application/rss+xml" title="Rodrigo Navarro - Feed" href="http://feeds.feedburner.com/RodrigoNavarro">
    <link rel="stylesheet" type="text/css" href="/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/railscasts2.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script type="text/javascript" src="/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/canvas-extensions.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33388712-1']);
      _gaq.push(['_setDomainName', 'rnavarro.com.br']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <header>
      <a href="/" class="site-title">rnavarro.com.br</a>
      <ul>
        <li><a href="mailto:rnavarro1@gmail.com">email</a></li>
        <li><a href="http://github.com/reu">github</a></li>
        <li><a href="http://twitter.com/_reu">twitter</a></li>
        <li><a href="http://feeds.feedburner.com/RodrigoNavarro"><img src="/images/rss.png" /></a></li>
      </ul>
    </header>
    <section id="content">
      <%= yield %>
    </section>
  </body>
</html>
