<article class="post">
  <h1 class="title">
    <a href="<%= post.path %>"><%= post.title %></a>
  </h1>
  <p class="date">
    <%= post.date %>
  </p>
  <div class="post-content">
    <%= markdown post.body %>
  </div>
</article>
