<article class="post">
  <header>
    <h1>
      <a href="<%= post.path %>"><%= post.title %></a>
    </h1>
  </header>
  <section id="post-content">
    <%= markdown post.body %>
  </section>
  <footer>
    <p class="date">
      Publicado em:
    <span class="date"><%= post.date %></span>
  </p>
  </footer>
</article>
